In [168]:
# import dependencies
import pandas as pd
import os
import json
from sqlalchemy import create_engine
from collections import defaultdict

In [169]:
# create a connection to the database
engine = create_engine('postgresql://postgres:Analytics20@localhost:5432/satellite_db')
con = engine.connect()

# if table exists replace
if_exists_param = 'replace'

In [170]:
# Extract CSVs into DataFrames
file = "original_dataset/UCS-Satellite-Database-4-1-2020.xls"
path = "../data"

satellite_unedited = pd.read_excel(os.path.join(path, file), encoding='utf-8')

In [201]:
satellite_df = satellite_unedited[["Name of Satellite, Alternate Names", "Country of Operator/Owner",
                                  "Operator/Owner", "Users", "Purpose", "Class of Orbit", "Date of Launch",
                                  "Contractor", "Country of Contractor", "Launch Site", "Launch Vehicle",
                                  "NORAD Number"]]

In [202]:
renamed_columns = { "Name of Satellite, Alternate Names": "satellite_name", "Country of Operator/Owner": "country_of_owner",
                   "Operator/Owner": "owner_operator", "Users": "user", "Class of Orbit": "class_of_orbit", "Purpose": "purpose",
                   "Date of Launch": "launch_date", "Country of Contractor": "country_of_contractor", "Launch Vehicle": "launch_vehicle",
         "Launch Site": "launch_location", "Launch Vehicle": "launch_vehicle", "NORAD Number": "NORAD_number",
                   "Contractor": "contractor"
}

In [203]:
satellite_df = satellite_df.rename(columns=renamed_columns)

In [204]:
satellite_df = satellite_df.dropna()
satellite_df.dtypes

satellite_name                   object
country_of_owner                 object
owner_operator                   object
user                             object
purpose                          object
class_of_orbit                   object
launch_date              datetime64[ns]
contractor                       object
country_of_contractor            object
launch_location                  object
launch_vehicle                   object
NORAD_number                    float64
dtype: object

In [205]:

satellite_df['NORAD_number'] = (satellite_df['NORAD_number']).astype(int)

In [206]:
satellite_df = satellite_df.drop_duplicates(subset=['NORAD_number'], keep='first')

In [207]:
NORAD = satellite_df['NORAD_number']
satellite_df.drop(labels=['NORAD_number'], axis=1,inplace = True)
satellite_df.insert(0, 'NORAD_number', NORAD)

In [208]:
satellite_df['user_codes'] = satellite_df['user'].astype('category').cat.codes
satellite_df['purpose_codes'] = satellite_df['purpose'].astype('category').cat.codes

In [209]:
u_code = satellite_df['user'].astype('category')
p_code = satellite_df['purpose'].astype('category')

user_legend = dict(enumerate(u_code.cat.categories))
purpose_legend = dict(enumerate(p_code.cat.categories))
print(user_legend)
print(purpose_legend)

{0: 'Civil', 1: 'Civil/Government', 2: 'Civil/Military', 3: 'Commercial', 4: 'Commercial ', 5: 'Commercial/Civil', 6: 'Commercial/Government', 7: 'Commercial/Military', 8: 'Government', 9: 'Government/Civil', 10: 'Government/Commercial', 11: 'Government/Commercial/Military', 12: 'Government/Military', 13: 'Military', 14: 'Military ', 15: 'Military/Civil', 16: 'Military/Commercial', 17: 'Military/Government'}
{0: 'Communications', 1: 'Communications/Maritime Tracking', 2: 'Communications/Navigation', 3: 'Communications/Technology Development', 4: 'Earth Observation', 5: 'Earth Observation ', 6: 'Earth Observation/Communications', 7: 'Earth Observation/Communications/Space Science', 8: 'Earth Observation/Earth Science', 9: 'Earth Observation/Space Science', 10: 'Earth Observation/Technology Development', 11: 'Earth Science', 12: 'Earth Science/Earth Observation', 13: 'Earth/Space Observation', 14: 'Educational', 15: 'Mission Extension Technology', 16: 'Navigation/Global Positioning', 17: 'Navigation/Regional Positioning', 18: 'Space Observation', 19: 'Space Science', 20: 'Space Science/Technology Development', 21: 'Surveillance', 22: 'Technology Demonstration', 23: 'Technology Developmen', 24: 'Technology Development', 25: 'Technology Development/Education', 26: 'Technology Development/Educational'}

In [210]:

satellite_df['user'].value_counts()

Commercial                        1432
Government                         435
Military                           337
Civil                              131
Government/Commercial              114
Military/Commercial                 77
Military/Government                 53
Government/Civil                    43
Commercial/Civil                    11
Military/Civil                       6
Government/Military                  5
Commercial/Military                  2
Civil/Government                     2
Commercial                           1
Military                             1
Government/Commercial/Military       1
Commercial/Government                1
Civil/Military                       1
Name: user, dtype: int64

In [211]:
satellite_df['purpose'].value_counts()

Communications                                    1193
Earth Observation                                  862
Technology Development                             291
Navigation/Global Positioning                      134
Space Science                                       84
Earth Science                                       15
Navigation/Regional Positioning                     12
Technology Demonstration                             9
Communications/Technology Development                8
Space Observation                                    8
Earth Observation/Technology Development             7
Earth Observation                                    5
Communications/Maritime Tracking                     5
Surveillance                                         3
Earth/Space Observation                              2
Educational                                          2
Technology Development/Education                     2
Earth Observation/Communications                     2
Earth Observation/Earth Science                      1
Earth Observation/Communications/Space Science       1
Technology Development/Educational                   1
Communications/Navigation                            1
Mission Extension Technology                         1
Earth Observation/Space Science                      1
Space Science/Technology Development                 1
Earth Science/Earth Observation                      1
Technology Developmen                                1
Name: purpose, dtype: int64

In [212]:
satellite_df['launch_date'] = pd.to_datetime(satellite_df['launch_date'])

In [213]:
satellite_df['year'] = pd.DatetimeIndex(satellite_df['launch_date']).year

In [214]:
satellite_df['year']

0       2019
1       2018
2       2017
3       2016
4       2014
        ...
2661    2019
2662    2011
2663    2019
2664    2012
2665    2016
Name: year, Length: 2653, dtype: int64

In [215]:
satellite_df = satellite_df[satellite_df['year'] > 1999]

In [216]:
satellite_df

,NORAD_number,satellite_name,country_of_owner,owner_operator,user,purpose,class_of_orbit,launch_date,contractor,country_of_contractor,launch_location,launch_vehicle,user_codes,purpose_codes,year
0,44589,1HOPSAT-TD (1st-generation High Optical Perfor...,USA,Hera Systems,Commercial,Earth Observation,LEO,2019-12-11,Hera Systems,USA,Satish Dhawan Space Centre,PSLV,3,4,2019
1,43728,3Cat-1,Spain,Universitat Politècnica de Catalunya,Civil,Technology Development,LEO,2018-11-29,Universitat Politècnica de Catalunya,Spain,Satish Dhawan Space Centre,PSLV,0,24,2018
2,42775,Aalto-1,Finland,University of Aalto,Civil,Technology Development,LEO,2017-06-23,University of Aalto,Finland,Satish Dhawan Space Centre,PSLV,0,24,2017
3,41460,AAUSat-4,Denmark,University of Aalborg,Civil,Earth Observation,LEO,2016-04-25,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,0,4,2016
4,39508,"ABS-2 (Koreasat-8, ST-3)",Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,GEO,2014-02-06,Space Systems/Loral,USA,Guiana Space Center,Ariane 5 ECA,3,0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,44534,Zhuhai-1-03 (OVS-3),China,Zhuhai Orbita Control Engineering Co. Ltd.,Commercial,Earth Observation,LEO,2019-09-19,Zhuhai Orbita Control Engineering Co. Ltd.,China,Jiuquan Satellite Launch Center,Long March 11,3,4,2019
2662,38038,Ziyuan 1-02C,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,2011-12-22,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,8,4,2011
2663,44528,Ziyuan 1-2D,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,2019-09-14,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,8,4,2019
2664,38046,Ziyuan 3 (ZY-3),China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,2012-01-09,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,8,4,2012
2665,41556,Ziyuan 3-2,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,LEO,2016-05-29,China Academy of Space Technology (CAST),China,Taiyuan Launch Center,Long March 4B,8,4,2016

In [237]:


user_by_year = satellite_df.groupby(['year', 'user']).size()
purpose_by_year = satellite_df.groupby(['year', 'purpose']).size()

user_by_year

year  user
2000  Commercial             16
      Government              5
      Government/Military     1
      Military                4
      Military/Commercial     3
                             ..
2020  Government              8
      Government/Civil        1
      Military               10
      Military/Commercial     1
      Military/Government     1
Length: 164, dtype: int64

In [238]:
idx = pd.MultiIndex.from_product((satellite_df.year.unique(), satellite_df.user.unique()))
idx2 = pd.MultiIndex.from_product((satellite_df.year.unique(), satellite_df.purpose.unique()))

In [239]:
r = user_by_year.reindex(idx).fillna(0)
r2 = purpose_by_year.reindex(idx2).fillna(0)

In [240]:
user_year = r.reset_index() \
          .groupby('level_0').apply(lambda x: dict(zip(x['level_1'],x[0]))) \
          .to_dict()

purpose_year = r2.reset_index() \
          .groupby('level_0').apply(lambda x: dict(zip(x['level_1'],x[0]))) \
          .to_dict()

In [241]:
purpose_year = [{'year': k, 'communications': v['Communications'], 'earth_obsersations': v['Earth Observation'], 
  'gps': v['Navigation/Global Positioning'], 'tech_dev': v['Technology Development']} for k, v in purpose_year.items()]

In [242]:

 user_year = [{'year': k, 'commercial': v['Commercial'], 'government': v['Government'],
                    'military': v['Military'], 'civil': v['Civil']} for k, v in user_year.items()]

In [243]:
with open('user_year.json', 'w') as fp:
    json.dump(user_year, fp)

In [233]:
with open('purpose_year.json', 'w') as fp:
    json.dump(purpose_year, fp)

In [234]:
satellite_df.to_json('file.json', orient='records', lines=True)
user_by_year.to_json('user_year.json', orient='records')

In [160]:
satellite_df.to_csv('satellite.csv', index=False)

In [38]:
satellite = satellite_df[["NORAD_number", "satellite_name", "user", "purpose", "class_of_orbit"]]
owner = satellite_df[["NORAD_number", "owner_operator", "country_of_owner", "contractor", "country_of_contractor"]]
launch = satellite_df[["NORAD_number", "launch_location", "launch_date", "launch_vehicle"]]

In [39]:
satellite = satellite.set_index("NORAD_number")

LOAD TABLES INTO Postgres

In [41]:
satellite.to_sql(name='satellite', con=engine, if_exists=if_exists_param, index=True)

In [42]:
owner.to_sql(name='owner', con=engine, if_exists=if_exists_param, index=False)
launch.to_sql(name='launch', con=engine, if_exists=if_exists_param, index=False)